a { text-decoration: none; }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion   { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected      { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

#progressBar {
	width: 400px;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
	}

#progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0099ff;
	}

#scrollbarSimple {
	height: 150px;
	overflow-y: scroll;
	}

/*
#scrollbarJs {
	overflow: auto;
	height: 150px;
	}
	
#scrollbarJsArrows {
	overflow: auto;
	max-height: 150px;
	}
*/

.scroll-pane {
	height: 150px;
	overflow-y: auto;
	}
